.barsInend{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    margin: 30px;
    gap: 20px;
}
.studentinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Profileicon{
    font-size: 30px;
    border-radius: 50%;
}